State of Religion

Steps to go through in this Project

**- Wrangle (Acquisition and Prep)   <-- We are here**
- Explorattion
- Evaluating Regression
- Feature Engineering

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [8]:
df = pd.read_excel("U_S_Religion_Census_2010 _clean_data.xlsx")

In [10]:
#Take a look at the data
df.head()

,State Name,Total Number of Congregations,Total Number of Adherents,"Rates of Adherence per 1,000 Population",% of Adherents,% of Adults Who Are “Highly Religious”
0,Alabama,10514,3007553,629.23,0.62923,0.77
1,Alaska,1246,240833,339.09,0.33909,0.45
2,Arizona,4673,2379928,372.33,0.37233,0.53
3,Arkansas,6697,1614357,553.64,0.55364,0.70
4,California,23558,16765751,450.04,0.45004,0.49

In [11]:
#Take a look at the tail
df.tail()

,State Name,Total Number of Congregations,Total Number of Adherents,"Rates of Adherence per 1,000 Population",% of Adherents,% of Adults Who Are “Highly Religious”
46,Virginia,10088,3586592,448.27,0.44827,0.61
47,Washington,6114,2328005,346.20,0.34620,0.45
48,West Virginia,4413,658313,355.27,0.35527,0.69
49,Wisconsin,6078,3047442,535.86,0.53586,0.45
50,Wyoming,948,223074,395.78,0.39578,0.54

In [13]:
#get a sense of the data size
df.shape

(51, 6)

In [14]:
#look at the data
df.describe()

,Total Number of Congregations,Total Number of Adherents,"Rates of Adherence per 1,000 Population",% of Adherents,% of Adults Who Are “Highly Religious”
count,51.000000,5.100000e+01,51.000000,51.000000,51.000000
mean,6762.627451,2.952878e+06,484.743333,0.484743,0.546667
std,5847.958375,3.305561e+06,102.764459,0.102764,0.106370
min,609.000000,2.103910e+05,276.310000,0.276310,0.330000
25%,2123.000000,7.299840e+05,404.455000,0.404455,0.485000
50%,5557.000000,2.226379e+06,508.310000,0.508310,0.540000
75%,9291.000000,3.554468e+06,553.300000,0.553300,0.620000
max,27848.000000,1.676575e+07,791.060000,0.791060,0.770000

In [15]:
#look at the datatypes
df.dtypes

State Name                                  object
Total Number of Congregations                int64
Total Number of Adherents                    int64
Rates of Adherence per 1,000 Population    float64
% of Adherents                             float64
% of Adults Who Are “Highly Religious”     float64
dtype: object

let's replace all the spaces in the coloumns with underscores

In [29]:
df.columns = df.columns.str.replace(" ", "_")

and let's get rid of the comma in 1000

In [34]:
df.columns = df.columns.str.replace(",", "")

This data was brought dowloaded cleaned so we can write our wrangle.py file

In [35]:
def wrangle_religion():
    """
    This is to bring in our US Religion Census data from 2010
    """
    df = pd.read_excel("U_S_Religion_Census_2010 _clean_data.xlsx")
    df.columns = df.columns.str.replace(" ", "_")
    df.columns = df.columns.str.replace(",", "")
    return df

In [36]:
df1 = wrangle_religion()

In [37]:
df1

,State_Name,Total_Number_of_Congregations,Total_Number_of_Adherents,Rates_of_Adherence_per_1000_Population,%_of_Adherents,%_of_Adults_Who_Are_“Highly_Religious”
0,Alabama,10514,3007553,629.23,0.62923,0.77
1,Alaska,1246,240833,339.09,0.33909,0.45
2,Arizona,4673,2379928,372.33,0.37233,0.53
3,Arkansas,6697,1614357,553.64,0.55364,0.70
4,California,23558,16765751,450.04,0.45004,0.49
5,Colorado,4188,1902282,378.25,0.37825,0.47
6,Connecticut,2597,1830862,512.26,0.51226,0.43
7,Delaware,831,374917,417.53,0.41753,0.52
8,District of Columbia,609,332342,552.32,0.55232,0.53
9,Florida,15611,7357588,391.33,0.39133,0.54
10,Georgia,12292,4924376,508.31,0.50831,0.66
11,Hawaii,1314,561980,413.13,0.41313,0.47
12,Idaho,2427,801655,511.40,0.51140,0.51
13,Illinois,12453,7094832,552.96,0.55296,0.51
14,Indiana,9061,2874144,443.28,0.44328,0.54
15,Iowa,5107,1642344,539.12,0.53912,0.55
16,Kansas,4782,1444455,506.27,0.50627,0.55
17,Kentucky,7745,2237714,515.68,0.51568,0.63
18,Louisiana,5841,2746897,605.93,0.60593,0.71
19,Maine,1574,367043,276.31,0.27631,0.34
20,Maryland,5336,2415376,418.35,0.41835,0.54
21,Massachusetts,4200,3748058,572.43,0.57243,0.33
22,Michigan,9521,4165343,421.44,0.42144,0.53
23,Minnesota,5953,2986450,563.06,0.56306,0.49
24,Mississippi,6765,1742916,587.37,0.58737,0.77
25,Missouri,9001,2950894,492.72,0.49272,0.60
26,Montana,1778,376976,381.01,0.38101,0.48
27,Nebraska,2860,1016529,556.59,0.55659,0.54
28,Nevada,1392,927955,343.62,0.34362,0.49
29,New Hampshire,1025,462772,351.52,0.35152,0.33
30,New Jersey,6114,4809520,547.04,0.54704,0.55
31,New Mexico,2447,1031198,500.78,0.50078,0.57
32,New York,14110,9923512,512.10,0.51210,0.46
33,North Carolina,15737,4530365,475.11,0.47511,0.65
34,North Dakota,1498,451456,671.22,0.67122,0.53
35,Ohio,13606,5071684,439.62,0.43962,0.58
36,Oklahoma,7057,2226379,593.49,0.59349,0.66
37,Oregon,4026,1194793,311.87,0.31187,0.48
38,Pennsylvania,15359,6838440,538.36,0.53836,0.53
39,Rhode Island,677,576919,548.11,0.54811,0.49
40,South Carolina,8051,2413443,521.78,0.52178,0.70
41,South Dakota,1819,476832,585.66,0.58566,0.59
42,Tennessee,11542,3522345,555.04,0.55504,0.73
43,Texas,27848,13994564,556.54,0.55654,0.64
44,Utah,5557,2186403,791.06,0.79106,0.64
45,Vermont,854,210391,336.23,0.33623,0.34
46,Virginia,10088,3586592,448.27,0.44827,0.61
47,Washington,6114,2328005,346.20,0.34620,0.45
48,West Virginia,4413,658313,355.27,0.35527,0.69
49,Wisconsin,6078,3047442,535.86,0.53586,0.45
50,Wyoming,948,223074,395.78,0.39578,0.54